body {
    background-color: #d7d7d7;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 5vw;
    font-weight: 700;
    color: #141445;
}

.box-width{
    columns: 90;
}

.form-text {
    color: black;
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 25px;
  }

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.logo {
    max-width: 150px;
    max-height: 150px;
}

.float-right {
    float: right;
}

.light-bg {
    background-color: #fff;
}

.bg-pink {
    background-color: #f9bdbd;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.featured-image {
    width: 30vw;
    height: 25vw;
}

.nav-color {
    color: #141445;
    font-size: 2vw;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {    
    color: white;
    position: relative;
    background-image: url(https://res.cloudinary.com/jamesbcloud/image/upload/v1660770314/burger-background2_fqhyij.png);
    background-color: #445261;
    background-repeat: no-repeat;
    background-size: auto;
}


.masthead-image {
    position: relative;
    overflow: hidden;
}


.recipetime {
    text-align: center;
}

.post-link {
    text-decoration: none;
    color: #141445;
}

.post-link:hover,
.page-link {
    color: #6c757d;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #fff;
    font-weight: 600;
}

.btn-signup {
    background-color: #f9bdbd;
    color: #141445;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.like-position {
    position: absolute;
}

.footer-text {
    color: #141445;
    font-weight: 700;
    font-size: 1.5vw;
}

.btn-color {
    background-color: #4a4a4a;
    color: #fff;
}

.back-color {
    background-color: #f9bdbd;
}

@media screen and (min-width: 982px){

    .brand {
        font-size: 3vw;
    }

    .footer-text {
        font-size: 2vw;
    }

}


@media screen and (max-width: 767px){

    .featured-image {
        height: 45vw;
        width: 90vw;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem 1rem 0.5rem;
    }
    
    .brand {
        font-size: 7vw;
    }

    .footer-text {
        font-size: 5vw;
    }
}


