{% extends 'base.html' %} 
{% load active_link_tags %}
{% load static %}
{% block content %} 
{% load crispy_forms_tags %}

<br>
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-12 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ recipe.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
        </div>
        
    </div>
</div>
<br>
<div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-10 offset-1 masthead-image">
    <!-- The featured image URL goes in the src attribute -->
    {% if "placeholder" in recipe.featured_image.url %}
    <img src="https://res.cloudinary.com/jamesbcloud/image/upload/v1660000183/cookie_2_uvzphn.jpg" width="100%">
    {% else %}
    <img src=" {{ recipe.featured_image.url }}" width="100%">
    {% endif %}
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col"><p class="recipetime">Time to prepare: {{ recipe.time_to_prepare | safe }} Minutes</p></div>
        <div class="col"><p class="recipetime">Serves: {{ recipe.serves | safe }} People</p></div>
        <div class="col"><p class="recipetime">Time to cook: {{ recipe.time_to_cook | safe }} Minutes</p></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card col-md-8 mt-3 offset-md-2">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ recipe.ingredients | safe }}
                </p>
                <br>
                <div class="row">

                    <div class="card-body">
                        <p class="card-text ">
                            {{ recipe.method | safe }}
                        </p>
                    <div class="row">

                        <div class="col-1">
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="recipe_like" value="{{recipe.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                    {% else %}
                                    <button type="submit" name="recipe_like" value="{{recipe.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                                <span class="text-secondary like-position">{{ recipe.number_of_likes }} </span>
                                {% with comments.count as total_comments %}
                                <span class="text-secondary"><i class="far fa-comments"></i><p>{{ total_comments }}</p></span>
                                {% endwith %}
                            </strong>
                                
                        </div>
                    <div class="col-1">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col mt-2 mb-3">
        {% if user.id == recipe.author.id %}
        <a href="{% url 'edit_recipe' recipe.slug %}" class="edit"><button class="btn btn-signup btn-md"
                value="{{ recipe.slug }}" type="button">Edit</button></a>
        <a href="{% url 'delete_recipe' recipe.slug %}" class="confirm-delete delete"><button class="btn btn-danger btn-md mx-4"
                value="{{ recipe.slug }}" type="button">Delete</button></a>
        {% endif %}
    </div>


    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment has been Posted
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}